h1  {
  color: black;
  font-size: 1.3em;
  font-weight: normal;

}
p {
  color: darkgreen;
}
em {
  font-weight: bold;
  text-decoration: underline;
}

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: right;
  font-size: 10px;
  color: white;
}

nav {
  float: center;
  width: 100%;
  color: #76AADA;
  height: 25px;
  background: #76AADA;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: center;
  padding: 20px;
  width: 100%;
  background: #0f8042;
  height: 300px;
}

section::after {
  content: PUDIFSRNWK;
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
